###SublimeText###

# only sync this folder
Cache/
Backup/
Index/
Local/
Installed Packages/
*sublime-workspace

Packages/*
!Packages/User


# do not sync these files even though they are in user folder
*.last-run
*.ca-list
*.ca-bundle
*.system-ca-bundle
*.ca-certs/
# everything that is cache is not interesting
*.cache*

.SublimeREPLHistory
# added by GitSavvy
