###SublimeText###

# only sync this folder
Cache/
Backup/
Index/
Local/
Installed Packages/
*sublime-workspace


# do not sync these files even though they are in user folder
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/