###SublimeText###

# only sync this folder
Cache/
Backup/
Index/
Local/
Installed Packages/
*sublime-workspace

Packages/*
!Packages/User


# do not sync these files even though they are in user folder
*.last-run
*.ca-list
*.ca-bundle
*.system-ca-bundle
*.cache/
*.ca-certs/

.SublimeREPLHistory